<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>Dhimans</title>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="/public/temp.css">
  <style>
body{
  /**font-family: 'Noto Sans Tangsa', sans-serif;**/
  font-family: 'Ubuntu', sans-serif;
  /**background-color: #144272;**/
  background-color: #3cbad6;
  color: white;
  margin:0%;
}
.navbar{
  /**background-color: #0A2647;**/
  background-color: #00b4d8;
  box-shadow: 0 0 6px 3px #2f626c;
  color: white;
  padding: 20px 0px;
}
.title{
  /**font-family: 'Quicksand', sans-serif;**/
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 50px;
  text-decoration: underline;
}
.home,.navbar-brand{
  color: white;
  text-decoration: none;
  padding: 50px 30px;
  font-size: 20px;
  position: relative;
  left: 1200px;
}
.home:hover{
  text-decoration: underline;
}
.navbar-brand:hover{
  text-decoration: underline;
}
#container{
  /**background-color: #205295;**/
  background-color: #3cbad6;
  padding-top: 50px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-evenly;
}
.product{
  background-color: #78d8ed;
  color: #0A2647;
  height: 250px;
  width: 250px;
  padding-top: 10px;
  border-radius: 8px;
  margin: 0px 15px;
}
button{
  background-color: #1363DF;
  color: white;
  height: 37px;
  width: 100px;
  font-size: 16px;
  border-radius: 7px;
  border: 0px;
  cursor: pointer;
}
button:hover{
  background-color: #2C74B3;
  transform: scale(1.1,1.1);
  transition-duration: 0.5s;
}
.form-control{
  border-radius: 5px;
  border: 0px;
}
input{
  height: 27px;
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  background-color: #0874b2;
}
p{
  font-size: 20px;
}
.ltitle,.lprice{
  position: relative;
  right:15px;
  font-size: 21px;
}
.ldesc{
  position: relative;
  left:27px;
  bottom: 40px;
  font-size: 21px;
}
.one{
  position: relative;
  left:2px;
}
textarea{
  position: relative;
  left:44px;
}

  </style>
</head>

    <body>
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <!-- <p class="navbar-brand">NotePad</p> -->
            <a href="/" class="navbar-brand">Dhimans</a>
            <a class="home" href="/">Home</a>
          </div>
          <!--<a class="home" href="/">HOME</a>
            <ul class="nav navbar-nav navbar-right">
               6
              <li id="home"><a href="/">HOME</a></li>
            </ul>-->
        </div>
      </nav>
      <center>
  